.example-spacer {
    flex: 1 1 auto;
  }

  .toolbar-search-container {
    display: flex;
    align-items: center;
  }
  mat-toolbar{
    height: 9vh;
  }
  .toolbar-search-field {
    width: 35vw;
    height: 15px;
    margin-top: 20px;
    margin-bottom:50px;
    padding-bottom: 50px;
    padding-top: 35px;
   
   
    // margin-left: 16px; /* Adjust the margin as needed */
  }
  
  #search-input {
    color: white;
    border-color: white;
    border: 1px solid white;
    
  }
  #search-input::placeholder {
    color: white;

  }


  .demo-table {
    width: 100vw;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  